@using ChannelEngine.ClientApi.Helpers
@{
    ViewData["Title"] = "Welcome";
}

    <div class="text-center">
        <h1 class="display-4">Welcome!</h1>
        <h2>Business executing flow</h2>
        <h3>Enter the button to show orders on status IN_PROGRESS and show top 5 products sold</h3>
        <a class="btn btn-info text-dark" asp-area="" asp-controller="Order" asp-action="ListOfResult">Execute</a>
    </div>
