
ClientApiChannelEngine/bin/

ClientApiChannelEngineTest/bin/

ClientApiChannelEngineTest/obj/

ConsoleApp/bin/

ConsoleApp/obj/

WebApp/bin/

WebApp/obj/

*.user

ClientApiChannelEngine/obj/

packages/

.vs/

ChannelEngine.ClientApi/bin/

ChannelEngine.ClientApi/obj/

ChannelEngine.ClientApi.Test/bin/

ChannelEngine.ClientApi.Test/obj/

ChannelEngine.ConsoleApp/bin/

ChannelEngine.ConsoleApp/obj/

ChannelEngine.WebApp/bin/

ChannelEngine.WebApp/obj/
