
ClientApiChannelEngine/bin/

ClientApiChannelEngineTest/bin/

ClientApiChannelEngineTest/obj/

ConsoleApp/bin/

ConsoleApp/obj/

WebApp/bin/

WebApp/obj/

*.user

ClientApiChannelEngine/obj/

packages/

.vs/
