@using ClientApiChannelEngine.Helpers
@{
    ViewData["Title"] = "Welcome";
}

    <div class="text-center">
        <h1 class="display-4">Welcome!</h1>
        <h2>Business executing flow</h2>

        <a class="btn btn-info text-dark" asp-area="" asp-controller="Order" asp-action="ListOfResult">Orders IN_PROGRESS</a>
    </div>
